{% extends 'base.html.twig' %}

{% block title %}liste des utilisateurs{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Liste des utilisateurs</h1>


    <table class="table-responsive">
        <thead>
            <tr>
                <th>Nom de l'utilisateur</th>
                <th>Prenom de l'utilisateur</th>
                <th>Email</th>
                <th>Role</th>

                {#<th>Statut</th>#}

                <th>Créé le</th>

               {# <th>Date de modification</th>
                <th>Commentaire</th>#}
                {#<th>Service</th>#}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.nomUtilisateur }}</td>
                <td>{{ user.prenomUtilisateur }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>

               {# <td>{{ user.statut ? 'Yes' : 'No' }}</td>#}

                <td>{{ user.createAt ? user.createAt|date('d-m-Y H:i:s') : '' }}</td>
{#
                <td>{{ user.dateModificationUtilisateur ? user.dateModificationUtilisateur|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ user.commentaireUtilisateur }}</td>#}
                {#<td>{{ user.idService.nomService }}</td>#}
                <td>
                    <a class="btn btn-info mb-3" href="{{ path('user_show', {'id': user.id}) }}">Voir</a>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a class="btn btn-warning mb-3" href="{{ path('user_edit', {'id': user.id}) }}">Editer</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="p-2 my-4">
        <a class="btn btn-success mr-5" href="{{ path('user_new') }}">Créer un nouvel utilisateur</a>
        <a class="btn btn-primary ml-5" href="{{ path('plateforme_admin') }}">Retour plateforme</a>
    </div>


{% endblock %}
