{% extends 'base.html.twig' %}

{% block title %}Liste des services{% endblock %}

{% block body %}
    <h1>Liste des services</h1>

    <table class="table-responsive">
        <thead>
            <tr>
                <th>Nom du Service</th>
                <th>Type de service</th>
                <th>Numéro</th>
                <th>Rue</th>
                <th>Cmpt Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Adresse mail</th>
                <th>Numéro de téléphone</th>
                <th>Commentaire (optionnel)</th>
                <th>Date de modification</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.nomService }}</td>
                <td>{{ service.idTypeService ? service.idTypeService.serviceType }}</td>
                <td>{{ service.numeroRueService }}</td>
                <td>{{ service.nomRueService1 }}</td>
                <td>{{ service.nomRueService2 ? service.nomRueService2 }}</td>
                <td>{{ service.cpService }}</td>
                <td>{{ service.villeService }}</td>
                <td>{{ service.adresseMailService ? service.adresseMailService }}</td>
                <td>{{ service.numeroTelephoneService ? service.numeroTelephoneService }}</td>
                <td>{{ service.commentaireService ? service.commentaireService }}</td>
                <td>{{ service.dateModificationService ? service.dateModificationService|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('service_show', {'id': service.id}) }}">Détails</a>
                    <a class="btn btn-warning" href="{{ path('service_edit', {'id': service.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Pas de service</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('service_new') }}">Créer un service</a>
{% endblock %}
