{% extends 'base.html.twig' %}

{% block title %}Interventions{% endblock %}

{% block body %}
    <h1>Interventions</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Nom de l'ntervention</th>
                <td>{{ intervention.nomIntervention }}</td>
            </tr>
            <tr>
                <th>Rue concernée</th>
                <td>{{ intervention.rueIntervention }}</td>
            </tr>
            <tr>
                <th>Ville concernée</th>
                <td>{{ intervention.villeIntervention }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ intervention.longitude }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ intervention.latitude }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ intervention.dateDebutIntervention ? intervention.dateDebutIntervention|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ intervention.dateFinIntervention ? intervention.dateFinIntervention|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ intervention.commentaireIntervention }}</td>
            </tr>
            <tr>
                <th>Date de modification</th>
                <td>{{ intervention.dateModificationIntervention ? intervention.dateModificationIntervention|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('intervention_index') }}">Retour à la liste</a>

    <a class="btn btn-warning" href="{{ path('intervention_edit', {'id': intervention.id}) }}">Editer</a>

    {{ include('intervention/_delete_form.html.twig') }}
{% endblock %}
