{% extends 'base.html.twig' %}

{% block title %}Type de services{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Types de services </h1>


    <table class="table-responsive">
        <thead>
            <tr>
               {# <th>Id</th>#}
                <th>ServiceType</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_service in type_services %}
            <tr>
                {#<td>{{ type_service.id }}</td>#}
                <td>{{ type_service.serviceType }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('type_service_show', {'id': type_service.id}) }}">Voir</a>
                    <a class="btn btn-warning" href="{{ path('type_service_edit', {'id': type_service.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <div class="p-2 my-4">
            <a class="btn btn-success mr-4" href="{{ path('type_service_new') }}">Créer un nouveau type de service</a>

            <a class="btn btn-primary ml-5" href="{{ path('plateforme_admin') }}">Retour plateforme</a>
        </div>

{% endblock %}
