{% extends 'base.html.twig' %}

{% block title %}Création du message{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Création du message</h1>
    <div class="container w-75">

    {{ include('admin/message/_form.html.twig') }}
        {#{{ tinymce_init({'use_callback_tinymce_init': true, 'theme': {'simple': {'menubar': false}}}) }}#}

    <a class="btn btn-primary my-4 ml-auto" href="{{ path('message_index') }}">Liste des messages</a>
    </div>
   {% block stylesheets %}
        <script src="{{ asset("js/message.js") }}"></script>
       <link rel="stylesheet" href="{{ asset("css/contact.css") }}">
    {% endblock %}
{% endblock %}
