{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Message</h1>
    <div class="container w-75">

        <table class="table-responsive">
            <tbody>
            <tr>
                <th>Titre du message</th>
                <td>{{ message.idTypeMessage.messageType}}</td></tr>
            <tr>
                <th>Intrevention</th>
                <td>{{ message.idIntervention.nomIntervention }}</td>
            </tr>
            <tr>
                <th>Type d'intervention</th>
                <td>{{ message.idIntervention.nomIntervention }}</td>
            </tr>
            <tr>
                <th>Contenu du message</th>
                <td>{{ message.contenuMessage }}</td>
            </tr>
            <tr>
                <th>Date d'envoi</th>
                <td>{{ message.dateEnvoi ? message.dateEnvoi|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Statut du message</th>
                <td>{{ message.statutMessage }}</td>
            </tr>
            <tr>
                <th>Image1</th>
                <td>{{ message.image1 }}</td>
            </tr>
            <tr>
                <th>Image2</th>
                <td>{{ message.image2 }}</td>
            </tr>
            <tr>
                <th>Image3</th>
                <td>{{ message.image3 }}</td>
            </tr>
            {#<tr>
                <th>Date de modification</th>
                <td>{{ message.dateModificationMessage ? message.dateModificationMessage|date('Y-m-d H:i:s') : '' }}</td>
            </tr>#}
            <tr>
                <th>Commentaire</th>
                <td>{{ message.commentaireMessage }}</td>
            </tr>
            <tr>
                <th>Envoyé par</th>
                <td>{{ message.idUtilisateur.nomUtilisateur }}</td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-primary my-4" href="{{ path('message_index') }}">Retour à la liste</a>

        {#<a class="btn btn-warning mb-3" href="{{ path('message_edit', {'id': message.id}) }}">Modifier</a>#}

        {# {{ include('message/_delete_form.html.twig') }}#}
    </div>
{% endblock %}
