{% extends 'base.html.twig' %}

{% block title %}Types de destinataires{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Types de destinataires </h1>

    <table class="table-responsive">
        <thead class="mb-2">
            <tr>

                <th class="mr-5">Type de destinataire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_destinataire in type_destinataires %}
            <tr>

                <td >{{ type_destinataire.destinataireType }}</td>
                <td>
                    <a class="btn btn-info mr-3" href="{{ path('type_destinataire_show', {'id': type_destinataire.id}) }}">Voir</a>
                    <a class="btn btn-warning" href="{{ path('type_destinataire_edit', {'id': type_destinataire.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="p-2 my-4">
        <a class="btn btn-success mr-4" href="{{ path('type_destinataire_new') }}">Créer un nouveau type de destinataire</a>
        <a class="btn btn-primary ml-4" href="{{ path('plateforme_admin') }}">Retour plateforme</a>
    </div>


{% endblock %}
