{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="my-5 text-center">
        <h1>Sélection des destinataires</h1>
    </div>

    <table class="table">
        <thead>

        <tr>
            <th>Id</th>
            <th>Nom <i class="fa fa-arrows-v" aria-hidden="true"></i>
            </th>
            <th>Prénom <i class="fa fa-arrows-v" aria-hidden="true"></i>
            </th>
            <th>Adresse Mail <i class="fa fa-arrows-v" aria-hidden="true"></i>
            </th>
            <th>Numéro téléphone <i class="fa fa-arrows-v" aria-hidden="true"></i>
            </th>
            <th>Numéro rue <i class="fa fa-arrows-v" aria-hidden="true"></i>
            </th>
            <th>Adresse <i class="fa fa-arrows-v" aria-hidden="true"></i>
            </th>
            <th>Complément adresse
            </th>
            <th>Code Postal <i class="fa fa-arrows-v" aria-hidden="true"></i>
            </th>
            <th>Ville <i class="fa fa-arrows-v" aria-hidden="true"></i>
            </th>
            <th>Ok Mail</th>
            <th>Ok Sms</th>
            <th>Select all<input type="checkbox" name="checkAll" class="checkAll" ><label for="selectAll"></label></th>

        </tr>
        </thead>
        <tbody>
        {% for result in results %}

            <tr>
                <td>{{ result.id }}</td>
                <td>{{ result.nomDestinataire }}</td>
                <td>{{ result.prenomDestinataire }}</td>
                <td>{{ result.adresseMailDestinataire ? result.adresseMailDestinataire : "Non renseigné" }}</td>
                <td>{{ result.numeroTelephoneDestinataire ? result.numeroTelephoneDestinataire : "Non renseigné" }}</td>
                <td>{{ result.numeroRueDestinataire }}</td>
                <td>{{ result.nomRueDestinataire1 }}</td>
                <td>{{ result.nomRueDestinataire2 }}</td>

                <td>{{ result.idAdresse.cp }}</td>
                <td>{{ result.idAdresse.nomVille }}</td>


                <td>{{ result.okMailDestinataire ? "Oui" : "Non" }}</td>
                <td>{{ result.okSmsDestinataire ? "Oui" : "Non" }}</td>
                <td><input type="checkbox" name="checkboxes[result.id]" class="checkboxes"><label for="check"></label></td>




            </tr>


        {% else %}
            <tr>
                <td colspan="16">Aucun destinaire ne correspond à votre recherche</td>
            </tr>
        {% endfor %}
        <a class="btn btn-success my-2 float-right" href="{{ path('accept_valide') }}" type="submit"  >Accepter</a>
{#
        <a class="btn btn-success my-2 float-right" href="{{ path('accept_valide',{'id': result.id}) }}" type="submit"  >Accepter</a>
#}
        </tbody>

    </table>

    {% block stylesheets %}
        <script src="{{ asset("js/accept.js") }}"></script>

        <link rel="stylesheet" href="{{ asset("css/recherche.css") }}">
    {% endblock %}
{% endblock %}
