{% extends 'base.html.twig' %}

{% block title %}Hello AcceptController!{% endblock %}

{% block body %}
    <div class="my-5 text-center">
        <h1>Sélection des destinataires</h1>
    </div>

    <table class="table">
        <thead>

        <tr>
            <th>Nom <i class="fa fa-arrows-v" aria-hidden="true"></i>
            </th>
            <th>Prénom <i class="fa fa-arrows-v" aria-hidden="true"></i>
            </th>
            <th>Adresse Mail <i class="fa fa-arrows-v" aria-hidden="true"></i>
            </th>
            <th>Numéro téléphone <i class="fa fa-arrows-v" aria-hidden="true"></i>
            </th>
            <th>Numéro rue <i class="fa fa-arrows-v" aria-hidden="true"></i>
            </th>
            <th>Adresse <i class="fa fa-arrows-v" aria-hidden="true"></i>
            </th>
            <th>Complément adresse
            </th>
            <th>Code Postal <i class="fa fa-arrows-v" aria-hidden="true"></i>
            </th>
            <th>Ville <i class="fa fa-arrows-v" aria-hidden="true"></i>
            </th>
            <th>Ok Mail</th>
            <th>Ok Sms</th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
            <tr>
                <td>{{ result.nomDestinataire }}</td>
                <td>{{ result.prenomDestinataire }}</td>
                <td>{{ result.adresseMailDestinataire ? result.adresseMailDestinataire : "Non renseigné" }}</td>
                <td>{{ result.numeroTelephoneDestinataire ? result.numeroTelephoneDestinataire : "Non renseigné" }}</td>
                <td>{{ result.numeroRueDestinataire }}</td>
                <td>{{ result.nomRueDestinataire1 }}</td>
                <td>{{ result.nomRueDestinataire2 }}</td>

                <td>{{ result.idAdresse.cp }}</td>
                <td>{{ result.idAdresse.nomVille }}</td>


                <td>{{ result.okMailDestinataire ? "Oui" : "Non" }}</td>
                <td>{{ result.okSmsDestinataire ? "Oui" : "Non" }}</td>


            </tr>
        {% else %}
            <tr>
                <td colspan="16">Aucun destinaire ne correspond à votre recherche</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
