{% extends 'base.html.twig' %}

{% block title %}Hello PlateformeAdminController!{% endblock %}

{% block body %}


    <div class="example-wrapper">
        <h1  class="my-4">Hello {{ "$nom de l admin" }}! </h1>

        <h2 class="text-center mb-4">Bienvenue sur votre palteforme de gestion</h2>
        <p class="text-center">Vous pourrez ici crééer votre alerte et l'envoyer aux souscripteurs concernés, valider les demandes de soucription et gérer l'intégralité des ressources</p>
    </div>

    <div class="text-center">
        <h2 class="my-4">Créer et envoyer une alerte</h2>
        <a class="my-4  btn btn-primary" href={{ path('recherche')}}>Je crée une alerte</a>
    </div>
    <div class="text-center">
        <h2 class="my-4 text-center">Gérer les demandes de souscription</h2>
        <a class="my-4  btn btn-primary" href="#">page demande de souscription</a>
    </div>
    <div >
        <h2 class="my-4 text-center">Gestion des ressources</h2>
        <div class="my-4">
            <div class="row d-flex justify-content-around my-5">
                <a class="btn btn-success my-2" href={{ path('type_message_index')}}>Gestion des types de message</a>

                <a class="btn btn-success my-2" href={{ path('destinataire_index')}}>Gestion des destinataires</a>
                <a class="btn btn-success my-2" href={{ path('intervention_index')}}>Gestion des interventions</a>
            </div>
            <div class="row d-flex justify-content-around my-5">
                <a class="btn btn-success my-2" href={{ path('message_index')}}>Gestion des messages</a>
                <a class="btn btn-success my-2" href={{ path('adresse_index')}}>Gestion des villes</a>
                <a class="btn btn-success my-2" href={{ path('validation_index')}}>Gestion des validations</a>
                <a class="btn btn-success my-2" href={{ path('motif_index')}}>Gestion des motifs</a>
            </div>
            <div class="row d-flex justify-content-around my-5">
                <a class="btn btn-success my-2" href={{ path('type_intervention_index')}}>Gestion des types d'intervention</a>
                <a class="btn btn-success my-2" href={{ path('type_destinataire_index')}}>Gestion des types de destinataire</a>

                <a class="btn btn-success my-2" href={{ path('type_service_index')}}>Gestion des types de service</a>
            </div>
            <div class="row d-flex justify-content-around my-5">
            {#
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
            #}
            <a class="btn btn-warning my-2" href={{ path('user_index')}}>Gestion des administrateurs</a>
            {#
                    {% end if %}
            #}

        </div>
        </div>

    </div>


{% endblock %}
